{
  "mcpServers": {
    "fwd-db-env": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-postgres",
        "postgresql://postgres:TU_DB_PASSWORD@db.TU-PROYECTO.supabase.co:5432/postgres"
      ]
    }
  }
}
